body {
    font-family: '微軟正黑體', 'Lora', sans-serif;
}

.page-section {
    background-color: #f3f8fc;
    border: 1px solid #DDDFE2;
    border-radius: 3px;
}

.login-section {
    background-color: #FFFFFF;
    border: 1px solid #DDDFE2;
    border-radius: 3px;
}

td form {
    display: inline;
}
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
  }
.navbar-inverse .navbar-brand {
    color: #9d9d9d;
  }
.border1 {
    border:1px;
    border-style: solid;
    border-color: #888888;
}  

.info {
   background-color: #d9edf7;
}  

